* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* General */
.width-1200 {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
p {
    font-size: 25px;
    font-weight: 100;
}
/* / General */

/* Header */
.header {
    padding: 35px 0px;
    text-align: center;
    position: relative;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.nav-hamburger, .nav-x {
    display: none;
}
.nav-hamburger i, .nav-x i {
    font-size: 35px;
    background: linear-gradient(#e169a1, #4526c2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.nav .nav-item {
    text-decoration: none;
    margin: 0px 30px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}
.login-btn {
    text-decoration: none;
    background-image: linear-gradient(to bottom, #e169a1, #763ab7);
    border: none;
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 10px;
}
/* /Header */
/* Login */
.login {
    position: relative;
    width: 1366px;
    height: 700px;

    background: #FFFFFF;
}
.login-title {
    background: linear-gradient(#e169a1, #4526c2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: 100;
    position: absolute;
    width: 340.65px;
    height: 80.23px;
    left: 620px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    line-height: 60px;

  
}
.login-text {

    position: absolute;
    width: 350px;
    height: 32.93px;
    left: 481px;
    top: 110px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    /* or 156% */



}
.login-email {
    position: absolute;
    width: 580px;
    height:70px;
    left: 481px;
    top: 180px;
    
    
    background: #FFFFFF;
    border: 2px solid  #9c367e;
    box-sizing: border-box;
    border-radius: 29px;
    font-size: 20px;
}

.login-password {
    position: absolute;
    width: 580px;
    height:70px;
    left: 481px;
    top: 290px;
    
    background: #FFFFFF;
    border: 2px solid #9c367e;
    box-sizing: border-box;
    border-radius: 29px;
    font-size: 20px;
}
.login-forgot {
    position: absolute;
   
    left: 900px;
    top: 385px;
    

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20;
    line-height: 18px;
    /* or 133% */



}

.login .login-btn{
    position: relative;
    top: 400px;
    left: 705px;
    height: 60px;
    
    
}
.login-text2 {
    position: absolute;
    width: 350px;
    height: 32.93px;
    left: 625px;
    top: 500px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    /* or 156% */
}
.login-signup {
    position: absolute;
   
    left: 830px;
    top: 511px;
    

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20;
    line-height: 30px;
}

/* Login */

/* Footer */
.footer {
    background: #151515;
    padding: 0px 10px;
}
.footer .row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer .row-1 .column-1 {
    width: 300px;
    padding: 15px;
}
.footer .row-1 .column-1 p {
    color: #8b8b8b;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}
.footer .row-1 .column-1 .icons {
    display: flex;
    color: #8b8b8b;
    gap: 10px;
    margin-top: 10px;
}
.footer .column-2, .footer .column-3 {
    padding: 15px;
}
.footer .row-1 .column-2 p, .footer .row-1 .column-3 p {
    color: white;
    font-size: 18px;
    margin: 0;
}
.footer .row-1 .column-2 ul, .footer .row-1 .column-3 ul {
    color: #8b8b8b;
    list-style: none;
    padding: 0;
    font-size: 14px;
    line-height: 1.5em;
}
.row-2 {
    padding: 10px 0px;
}
.row-2 p {
    margin: 0;
    color: #8b8b8b;
    font-size: 12px;
}
/* /Footer */

/* Images Grid */
.images-grid-2 {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 5px;
    background-color: white;
    border: 3px solid black;
    height: 100%;
}
.images-grid-2 img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.images-grid-3 {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 5px;
    background-color: white;
    border: 3px solid black;
    height: 100%;
}
.images-grid-3 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.images-grid-4 {
    display: grid;
    grid-template-columns: 85px 85px 85px 85px;
    grid-gap: 5px;
    height: 100%;
}
.images-grid-4 img {
    width: 85px;
    height: 85px;
    object-fit: cover;
    object-position: center;
}
/* /Images Grid */

/* Home */
.left-column {
    width: 500px;
    padding-right: 50px;
}
.home-b1 {
    background-image: linear-gradient(to bottom, #e169a1, #4526c2);
    padding: 100px 10px;
}
.home-b1-inner, .home-b2-inner, .home-b3-inner, .home-b4-inner, .home-b5-inner, .home-b6-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home-b1-inner h2 {
    color: white;
    font-size: 50px;
    font-weight: 100;
}
.home-b2, .home-b3, .home-b4, .home-b5 {
    padding: 50px 10px;
}
.text-gradient {
    background: linear-gradient(#e169a1, #4526c2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 100;
}
.home-b3 img, .home-b4 img {
    width: 615px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}
.home-b6 {
    text-align: center;
    padding: 50px 10px 200px 10px;
}
.home-b6 h2 {
    font-size: 40px;
    font-weight: 100;
}
.home-b6 .login-btn {
    position: static;
}

@media (max-width: 1025px) {
    /* Footer */
    .footer {
        padding: 0px 15px;
    }
    .footer .row-1 {
        padding: 25px 15px;
    }
    .footer .row-2 {
        padding: 10px 15px;
        text-align: center;
    }

    /* Header */
    .login-btn {
        position: relative;
        right: 0px;
    }
    .header {
        padding: 25px 0px;
    }

    /* Images Grid */
    .images-grid-2 {
        display: grid;
        grid-template-columns: 270px 270px;
        grid-gap: 5px;
    }
    .images-grid-2 img {
        width: 270px;
        height: 180px;
        object-fit: cover;
        object-position: center;
    }
    .images-grid-3 {
        display: grid;
        grid-template-columns: 180px 180px 180px;
        grid-gap: 5px;
    }
    .images-grid-3 img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        object-position: center;
    }

    /* Home */
    .home-b6, .home-b2, .home-b3, .home-b4, .home-b5, .home-b1 {
        padding: 25px 15px;
    }
    .left-column {
        width: 300px;
        padding-right: 25px;
    }
    .home-b1-inner h2, .home-b6 h2 {
        font-size: 35px;
    }
    .home-b3 img, .home-b4 img {
        width: 555px;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }
    .text-gradient {
        font-size: 30px;
        font-weight: 100;
    }
    .home-b2 p, .home-b3 p, .home-b4 p, .home-b5 p {
        font-size: 20px;
    }
}

@media (max-width: 865px) {

    /* Images Grid */
    .images-grid-2 {
        display: grid;
        grid-template-columns: 180px 180px;
        grid-gap: 5px;
    }
    .images-grid-2 img {
        width: 180px;
        height: 140px;
        object-fit: cover;
        object-position: center;
    }
    .images-grid-3 {
        display: grid;
        grid-template-columns: 120px 120px 120px;
        grid-gap: 5px;
    }
    .images-grid-3 img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        object-position: center;
    }

    /* Home */
    .home-b3 img, .home-b4 img {
        width: 375px;
        height: 250px;
        object-fit: cover;
        object-position: center;
        margin: auto 0px;
    }
}

@media (max-width: 700px) {
    .header {
        position: inherit;
        padding: 15px 0px;
    }
    .nav {
        justify-content: space-between;
        padding: 0px 15px;
    }
    .nav-list {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
        z-index: 1;
        height: 100%;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.7s ease-in-out;
    }
    .nav-item {
        padding: 20px 0px;
        margin: 0px !important;
        display: block;
    }
    .nav-hamburger {
        display: block;
    }
    .nav-x {
        display: block;
        text-align: end;
        margin: 20px;
    }    

    /* Images Grid */
    .images-grid-2 {
        display: grid;
        grid-template-columns: 120px 120px;
        grid-gap: 5px;
    }
    .images-grid-2 img {
        width: 120px;
        height: 100px;
        object-fit: cover;
        object-position: center;
    }
    .images-grid-3 {
        display: grid;
        grid-template-columns: 80px 80px 80px;
        grid-gap: 5px;
        margin: auto 0px;
    }
    .images-grid-3 img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: center;
    }

    /* Home */
    .home-b3 img, .home-b4 img {
        width: 255px;
        height: 160px;
        object-fit: cover;
        object-position: center;
        margin: auto 0px;
    }
    .left-column {
        width: 200px;
    }
    .home-b1-inner h2, .home-b6 h2 {
        font-size: 25px;
    }
    .text-gradient {
        font-size: 25px;
        font-weight: 100;
    }
    .home-b2 p, .home-b3 p, .home-b4 p, .home-b5 p {
        font-size: 16px;
    }
    .login-btn {
        font-size: 14px;
    }
} 

@media (max-width: 500px) {
    .left-column {
        width: 100%;
        text-align: center;
    }
    .images-grid-4 {
        display: grid;
        grid-template-columns: 70px 70px 70px 70px;
        grid-gap: 5px;
    }
    .images-grid-4 img {
        width: 70px;
        height: 70px;
    }
    .footer .row-1 {
        justify-content: center;
    }
    .footer .row-1 .column-1, .footer .row-1 .column-2, .footer .row-1 .column-3 {
        text-align: center;
    }
    .footer .row-1 .column-1 .icons {
        justify-content: center;
    }
    .images-grid-2, .images-grid-3, .home-b3 img, .home-b4 img {
        margin: auto;
    }
}

.sidebar-active {
    transform: translateX(0%);
}
.nav-item-active {
    background: linear-gradient(#e169a1, #4526c2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.login-inactive {
    display: none;
}
