@import "antd/dist/antd.css";

.container {
  max-width: 400px;
  width: 100%;
  margin: 150px auto;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.ant-input-affix-wrapper {
  height: 50px;
}
.ant-btn-primary {
  height: 40px;
  margin-bottom: 20px;
}
